.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
  font-family: 'Open Sans Condensed', sans-serif;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainImage {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.secondaryimg {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.header {
  background: white;
  line-height: 1;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 4px;
  color: #2d3c49;
  border-bottom: solid #7d97ad 6px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  justify-content: left;
}

h1 {
  margin: 1px;
}

h2 {
  font-size: 22px;
  margin: 1px;
}

h3 {
  color: #2d3c49;
}

p {
  font-family: Arial, sans-serif;
  font-weight: lighter;
}

.footer {
  background: white;
  border-top: solid #7d97ad 6px;
}
.main {
  background: white;
}

.container-1,
.container-2,
.container-3 {
  background: white;
}

@media all and (max-width: 494px) {
  .links {  display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   }
  
  .div-item {
      width: 100%;
      border: solid #94B8CA 3px;
      border-style: double;
      padding: 0px;
      margin: 2px;
    }
  
  h3 { font-size: 26px; }
      .headerText {
      display: inline;
      width: 100%;
      align-content: center;
      text-align: center;
    }
}

@media all and (min-width: 495px) {
  .links {  display: flex;
    align-items: center;
    justify-content: center;
  }
  .div-item {
    width: 33.3%;
    justify-content: space-between;
    margin: 3px;
      }
  h3 {margin: 0px;}
  .headerText {
    text-align: right;
  }
}

@media all and (min-width: 750px) {
  .main {order: 1; }
  .links {order: 2;}
  .footer  { order: 5; }
  h3 { font-size: 25px; margin: 2px;}
  .div-item {margin: 5px;}
}

body {
  padding: 2em;
}
